* {
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

body {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 16px 0;
}

a:link {
	text-decoration: none;
	font-weight: 700;
}

h2 {
	text-decoration: underline;
}

.xp p {
	font-size: 12px;
	color: #949494;
	margin: 4px 0 0 0;
}

.column {
 	float: left;
	width: 40%;
	padding: 0 5%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.xp {
	padding: 16px 0 0 0;
}

.left {
	background-color: #B2D0FF;
	height: 100vh;
	color: #333;
}

.social-links {
	padding: 24px 50px;
}

.social-links a {
	opacity: .6;
}

.header {
	display: flex;
	align-items:center;
	padding: 0 50px;
}

.face {
	width: 72px;
	float: left;
	padding: 0 20px 0 0;
}

.name {
	float: left;
	font-size: 50px;
}

.bio {
	clear: both;
	font-size: 24px;
	padding: 24px 50px;
}
