@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
}

.who {
	display: table;
}

.rotate-inner {
	padding: 50% 0;
	height: 0;
}

.rotate {
	display: block;
	transform-origin: top left;
	-webkit-transform: rotate(-20deg) translateY(200%);
	-moz-transform: rotate(-20deg) translateY(200%);
	-ms-transform: rotate(-20deg) translateY(200%);
	-o-transform: rotate(-20deg) translateY(200%);
	margin-top: -50%;
	white-space: nowrap;
	text-decoration: underline;
}
